.heading input[type="text"],
body {
  font-size: var(--vscode-font-size);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --container-paddding: 20px;
  --input-padding-vertical: 6px;
  --input-padding-horizontal: 4px;
  --input-margin-vertical: 4px;
  --input-margin-horizontal: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
body {
  padding: 0 var(--container-paddding);
  color: var(--vscode-foreground);
  font-weight: var(--vscode-font-weight);
  background-color: var(--vscode-editor-background);
  user-select: none;
}
body > * {
  margin-block-start: var(--input-margin-vertical);
  margin-block-end: var(--input-margin-vertical);
  display: grid;
}
:focus {
  outline-color: var(--vscode-focusBorder) !important;
}
.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 0;
  border-bottom: 1px solid;
  padding-block-end: 2rem;
  color: var(--vscode-quickInputList-focusForeground);
}
@media (max-width: 600px) {
  .heading {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(1, minmax(320px, 1fr));
  }
}
.heading input[type="text"] {
  width: clamp(20%, 32rem, 100%);
  padding: 0.7rem;
  border-radius: 6px;
  outline: 1px solid var(--vscode-commandCenter-border);
  border: 1px solid var(--vscode-commandCenter-border);
  border: 1px solid var(--vscode-input-background);
  background-color: var(--vscode-commandCenter-background);
  color: var(--vscode-commandCenter-foreground);
  font-weight: 700;
}
.title {
  font-size: calc(var(--vscode-editor-font-size) * 2);
}
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 20px;
}
.card {
  border-radius: 0.5rem;
  border: 1px solid var(--vscode-input-foreground);
  background-color: var(--vscode-input-background);
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card .content {
  color: var(--vscode-input-foreground);
  display: grid;
  gap: 0.5rem;
}
.card .name {
  font-size: var(--vscode-editor-font-size);
  user-select: text;
}
.card .path {
  font-size: calc(var(--vscode-editor-font-size) / 2);
  user-select: text;
}
.card .icon,
.title .icon {
  --size: 1.2rem;
  height: var(--size);
  width: var(--size);
  color: var(--vscode-input-foreground);
  cursor: pointer;
}


.card .icon:hover,
.title .icon:hover{
  stroke-width: 2.5;
}
.card:hover {
  background: var(--vscode-textLink-background);
}
.button {
  border: none;
  padding: var(--input-padding-vertical) var(--input-padding-horizontal);
  text-align: center;
  outline: transparent solid 1px;
  background: transparent;
  outline-offset: 2px !important;
  height: 2rem;
  width: 2rem;
}
@media (prefers-color-scheme: dark) {
  .button:hover .icon {
    color: var(--vscode-input-foreground);
  }
}
@media (prefers-color-scheme: light) {
  .button:hover .icon {
    color: var(--vscode-input-background);
  }
}
.button:hover {
  cursor: pointer;
  filter: drop-shadow(1px, 1px, 1px, var(--vscode-textLink-background) );
}
.button:focus {
  outline-color: var(--vscode-focusBorder);
}
.project-link {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
  visibility: hidden;
}

.card:hover .project-link{
  visibility: visible;
}
