node_modules/
.vscode/
.git/
.gitignore
.github/
*.map
*.ts
src/test/
test/
.vscodeignore
webpack.config.js
pnpm-lock.yaml
package-lock.json
tsconfig.json
vsc-extension-quickstart.md
screenshots/
CHANGELOG.md
CONTRIBUTE.md
CODE_OF_CONDUCT.md
README.md
.pnpm-store/**